<div class="modal fade" id="commentsModal" tabindex="-1" role="dialog" aria-labelledby="commentsModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="commentsModalLabel"><%= photo.name %></h4>
      </div>
      <div class="modal-body">
        <ul class="comments_<%= photo.id %>">
          <% photo.comments(session['token']).each do |f| %>
            <li><%= f %></li>
          <% end %>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>