<div class="jumbotron">
  <p>
    Create application with Ruby on Rails which will connect with google account and will show first three images from
    selected album (Picasa). User should be able to add comments.
  </p>

  <p>Flow should look:</p>

  <ol>
    <li>Login screen - where user can login via google account</li>
    <li>Album list - after login user will see list of all owned albums from Google Picasa account.</li>
    <li>Images view - user will see first three images from selected album.</li>
    <li>User is able to comment photo.</li>
  </ol>

  <br/>
  <p style="text-align: center"><%= link_to 'Sign in with Google', AuthClient.authorize_url, role: 'button', class: 'btn btn-lg btn-success' %></p>
</div>