<div class="row">
  <% @photos.each do |photo| %>
    <div class="col-md-6 pic-photo">
      <%= image_tag photo.thumb, class: 'img-rounded', alt: photo.name, title: photo.name %>

      <p>
        <%= link_to "Comments: #{photo.count}", '#', data: {toggle: 'modal', target: '#myModal', ids: "comment_#{photo.album_id}_#{photo.id}"} %>
      </p>

      <p>Leave Comment:</p>

      <%= form_tag album_photo_comments_path(photo.album_id, photo.id), remote: true do %>
        <%= text_area_tag 'comment', nil, id: "comment_#{photo.id}",size: '44x2', style: 'resize: none; margin-bottom: 5px' %>
        <%= submit_tag 'Submit', class: 'btn btn-primary btn-sm' %>
      <% end %>

      <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="myModalLabel">Comments</h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>