/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.container {
  max-width: 637px;

  .alert {
    padding: 10px;
    margin-bottom: 10px;
  }

  .alert-dismissable .close, .alert-dismissible .close {
    right: 0;
  }
}

.img-rounded {
  margin-bottom: 10px;
}

#comment {
  margin-bottom: 8px;
}

.pic-photo {
  margin-bottom: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 20px;

  h3 {
    padding-bottom: 10px;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 30px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.jumbotron {
  border-bottom: 1px solid #e5e5e5;

  p {
    font-size: 16px !important;
  }

  .btn {
    padding: 14px 24px;
    font-size: 21px;
  }
}
