<!DOCTYPE html>
<html>
<head>
  <title>Googpic</title>
  <%= stylesheet_link_tag 'application', media: 'all'%>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<div class="container">
  <div class="header">
    <h3 class="text-muted"><%= link_to 'Googpic', root_url %></h3>
  </div>

  <%= yield %>

  <div class="footer">
    <p>© Company 2014</p>
  </div>
</div>

</body>
</html>
